@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #ffffff; /* Light mode background color */
  --bg-color-dark: #000000;  /* Dark mode background color */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background-color: var(--bg-color-light);
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: var(--bg-color-dark);
}


::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #9e9c9c; /* color of the scrollbar */
  border-radius: 4px; /* roundness of the scrollbar thumb */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #646363; /* color of the scrollbar on hover */
}